<ul id="slide-out" class="side-nav fixed z-depth-4">
  <li>
    <div class="userView">
      <div class="background">
        <img src="assets/img/photo1.png">
      </div>
      <a href="#!user"><img class="circle" src="assets/img/avatar04.png"></a>
      <a href="#!name"><span class="white-text name">Welcome Amar</span></a>
     
    </div>
  </li>

  <li>
    <form class="sidebar-form">
      <div class="input-group">
        <input id="accounts" type="text" name="username" class="form-control" placeholder="Universal Search" autocomplete="off" />
      </div>
    </form>
  </li>

  <li><a  routerLink="/Dashboard" routerLinkActive="active"><i class="material-icons pink-item">dashboard</i>Dashboard</a></li>     
  <li><a  routerLink="/CreateItem" routerLinkActive="active"><i class="material-icons pink-item">thumbs_up_down</i>Add Item</a></li>
  <li><a href="newOrder.html"><i class="material-icons pink-item">note_add</i>New Order</a></li>

</ul>