<main>
  <section class="content">
    <div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h5 class="page-announce-text valign">Add Item </h5></div>
    <div class="container">
      <div class="card">
        <form class="card-content">
          <div class="row">
            <h6>Create New Item</h6>
           
          </div>
        
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="text" maxlength="200" />
              <label for="text">Item Name: </label>
            </div>
      <div class="input-field col s6">
              <input type="text" name="Code" maxlength="200" />
              <label for="text">Item Code: </label>
            </div>
          </div>
      <div class="row">
            <div class="input-field col s6">
              <input type="text" name="text" maxlength="200" />
              <label for="text">Item Price: </label>
            </div>
      <div class="input-field col s6">
              <input type="text" name="Code" maxlength="200" />
              <label for="text">Item Description: </label>
            </div>
          </div>
          <div class="center-align"><input class="btn btn-success"type="submit" value="Submit" /></div>
        </form>
      </div>
    </div>
  </section>
  </main>